<div > 
	<br>
	<div class="row" >
	   <div class="col-md-12">
	       <div class= "center jumbotron">
				<h1><u>About</u></h1>
				<p>Hello my name is Kevin Yean. I started this project in order to learn more about Ruby. </p>
				<%= image_tag("library.jpg", :alt => "Library logo", width: 550) %> 
				<br>
				<small> <%= link_to "Image", "https://www.flickr.com/photos/infomatique/15790715200/in/photolist-q4nxum-9kjWxg-48Wfpp-oqWKWd-pTt34v-oXSXSr-e5Q8gW-7q9o9F-5bRGno-q77vbi-2UCfh-9dUby3-majnde-efCGG4-eximp6-em7YVf-7Mz8LK-egsXoe-q4nbaW-bpCgvC-oBFFXg-cktvPo-poWab5-5PSe3G-efCHiF-qLWcj9-3kftSZ-4FnsKY-mG4Wdr-a2gCWj-9uPVG8-6cJjCa-9XqWaU-L3F6f-ppaKAv-gfcwyT-byJi75-jSP7rT-dnwzKB-9tYiGt-5Emj44-8ds4hQ-mG54iD-dvUBA7-dvNU6a-6cFVL4-4D3Toa-q4ucEr-rLMJ67-dWGURN" %> </small>
	  			</div>
			</div>
	   </div>
	</div>
</div>
