<div > 
	<br>
	<div class="row" >
	   <div class="col-md-12">
	       <div class= "center jumbotron">
				<h1><u>Contact</u></h1>
				  <div  id = "contact" >
					 <p>Follow Us On: </p>
					 <ul style = "text-align:center">
					 <li> <%= link_to(image_tag("facebook.png", :alt => "Facebook logo", :width => 50), "http://www.google.com") %> </li>
					 <li> <%= link_to image_tag("twitter.png", :alt => "Twitter logo", :width => 50), "http://www.twitter.com" %> </li>
					 <li> <%= link_to image_tag("instagram.jpg", :alt => "Instagram logo", :width =>50), "http://www.instagram.com" %> </li>
				     </ul>
				     <p>Business Hours: </p>
				     	<small> Monday-Friday: 9:00 - 19:00 </small> <br>
				     	<small> Saturday-Sunday: 10 - 15:00 </small>
					 <p>Address: </p>
					 	<small> 313 S Locust St, Greencastle, IN 46135 </small> <br>
					 <p>Email: </p>
					 	<small> <a href="mailto:fake@email.com"> fake@email.com </a></small>
					 <p>Phone: </p>
					 	<small> 987-9876-986 </small>
	  			</div>
			</div>
	   </div>
	</div>
</div>
