<div > 
	<br>
	<div class="row" >
	   <div class="col-md-10">
	       <div class= "center jumbotron">
	       		<div >
				  <h1>Welcome to Log A Book</h1>
				  <p> Have you always wondered what books to read next? </p>
				  <p> Have you always wanted to keep track of your books? </p>
				  <p> Have you always wondered what people like you read? </p>
				  <p> Have you always wondered what type of book you like? </p>
				  <p> Then try Log A Book, a website made to answer those questions! </p>
		  		  <%= link_to "Sign up now!", sign_path, class: "btn btn-lg btn-primary" %>
	  			</div>
			</div>
	   </div>
	   <div class="col-md-2">
	   		<div id = "stats">
	   			<br> <br>
	   			<% for i in 0..3 %>
	   			<% num %>
	   			<%= @statSentence %> <br><br>
	   			<%= @stat %> <br> <br>
	   			<%end%>
	       	</div>
	   </div>
	</div>
</div>
