<div class= "jumbotron">
	<p> Looking at your list of Books we suggest you to read type of books: </p>
	<small>Your favorite genre of book is: <%= @popGenre%> </small>
	<br>
	<small>Your favorite author is: <%= @popAuthor %> </small>
</div>